<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/common/load-scripts %>
</head>

<body>
    <% include ../../partials/common/left-pane %>
    <% include ../../partials/common/header %>

    <div id="app-right-pane-container">

        <div class="pg-section container-fluid mt-3" id="summary-container">
            
            <% if (('enrollmentProgress' in user_info && parseFloat(user_info.enrollmentProgress)!==100) || !('enrollmentProgress' in user_info))  { %>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="tile white-tile mb-2 p-2 position-relative">
                        <div class="position-absolute" style="left:8px;top:5px">
                            <i class="material-icons align-middle" style="font-size:3em;color:red;">assignment_ind</i>
                        </div>
                        <div style="margin-left: 4em;">
                            <b>Please enroll</b>
                            <div>Your profile is <b style="color:red"><span class="enrolled-percent-txt">0%</span></b> completed.</div>
                            <div class="text-muted small">Your practice or profile information wont be visible to others untill you have completed 
                                your profile, and your profile has been reviewed by our compliance team.
                                Please contact us if there are questions or concerns.</div>
                            <div class="mt-2">
                                    <a href="/enroll/<%=user_info.user_type %>/<%=user_info._id %>">
                                        <div class="btn btn-success"><label class="m-0 pointer">Get Started & Complete your profile</label></div>
                                    </a>
                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <% } else if ('enrollmentProgress' in user_info && parseFloat(user_info.enrollmentProgress)===100) { %>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="tile white-tile mb-2 p-2 position-relative">
                            <div class="position-absolute" style="left:8px;top:5px">
                                <i class="material-icons align-middle" style="font-size:3em;color:#00a86b;">assignment_turned_in</i>
                            </div>
                            <div style="margin-left: 4em;">
                                <b>Enrolled</b>
                                <div>Thank you for enrolling. 
                                        Your account is now <b style="color:coral"><i>under review</i></b> and we will be in touch if 
                                        additional information is required from your side. 
                                        If there are any questions please feel free to contact us. </div>
                            </div>
                            
                        </div>
                    </div>
                </div>    

            <% } %>	

            <div class="row">

                <!-- row1 / col 1 -->
                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">

                    <div id="account-row1-col1-1">

                        <!-- profile information tile -->
                        <div class="tile white-tile mb-2">

                            <div class="mb-2">

                                <div class="text-center">
                                    <div class="mx-auto position-relative text-center" style="width:150px;height: 150px;">
                                        <% if('personal_profile_image' in user_info && user_info.personal_profile_image.length>0){ %>
                                            <img src="<%=user_info.personal_profile_image[0].location%>" class="rounded-circle"
                                                alt="[PROFILE PIC NOT FOUND. TRY UPLOADING AGAIN]" style="width: 100%;height: 100%;">
                                        <% } else { %>
                                            <img src="/gfs/images/noimage-icon-x225.png" class="rounded-circle"
                                            alt="[PROFILE PIC NOT FOUND. TRY UPLOADING AGAIN]" style="max-width: 100%;">
                                        <% } %>
                                        <div class="upload-img-container" style="top: 45%;right:-10px;">
                                            <input type="file" name="personal_profile_image"
                                                id="update-profile-img-input" class="entry-field" title="upload image">
                                            <div class="input-overlay">
                                                <i class="material-icons">camera_alt</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2 text-center">
                                    <h3 class="text-capitalize">Welcome,
                                        <%=user_info.first_name+" "+user_info.last_name %></h3>
                                </div>

                            </div>

                            <div class="mt-2 p-2 border-bottom position-relative">
                                <div class="align-top pull-left">
                                    <i class="material-icons align-middle">email</i>
                                </div>
                                <div class="d-inline-block text-lower ml-5">
                                    <div><%=user_info.email_id %></div>
                                    <div class="text-muted small">Email</div>
                                </div>
                                <div class="push-right pointer p-1 edit-item-button" edititem="email_id">
                                    <i class="material-icons align-middle small-icon">edit</i>
                                </div>
                            </div>

                            <div class="mt-2 p-2 border-bottom position-relative">
                                <div class="align-top pull-left">
                                    <i class="material-icons align-middle">call</i>
                                </div>
                                <div class="d-inline-block text-lower ml-5">
                                    <div><%=user_info.country_dial_code+" "+user_info.personal_primary_number %></div>
                                    <div class="text-muted small">Phone</div>
                                </div>
                                <div class="push-right pointer p-1 edit-item-button" edititem="personal_primary_number">
                                    <i class="material-icons align-middle small-icon">edit</i>
                                </div>
                            </div>

                            <div class="mt-2 p-2 border-bottom position-relative">
                                <div class="align-top pull-left">
                                    <i class="material-icons align-middle">home</i>
                                </div>
                                <div class="d-inline-block text-lower ml-5 w-90">
                                    <% if ('personal_address_street_address_1' in user_info) { %>
                                        <span><%=user_info.personal_address_street_address_1 %></span>
                                        <span><%=user_info.personal_address_street_address_2 %></span>
                                        <span><%=user_info.personal_address_city %>, 
                                                <%=user_info.personal_address_state %>, <%=user_info.personal_address_zip_code %>, </span>
                                        <span><%=user_info.personal_address_country.name%></span>
                                    <% } else { %>
                                        <div>Unknown</div>
                                    <% } %>
                                    <div class="text-muted small">Address</div>
                                </div>
                                <div class="push-right pointer p-1 edit-item-button" edititem="personal_address">
                                    <i class="material-icons align-middle small-icon">edit</i>
                                </div>
                            </div>


                            <div class="mt-2 p-2 border-bottom position-relative">
                                <div class="align-top pull-left">
                                    <i class="material-icons align-middle">local_library</i>
                                </div>
                                <div class="d-inline-block text-lower ml-5">
                                    <div class="text-capitalize"><%=user_info.specialty.name %></div>
                                    <div class="text-muted small">Specialty</div>
                                </div>
                                <div class="push-right pointer p-1 edit-item-button" edititem="specialty">
                                    <i class="material-icons align-middle small-icon">edit</i>
                                </div>
                            </div>

                            <!-- MEDICAL DEGREE -->
                            <% if("medical_degree" in user_info && user_info.medical_degree.length>0) {%>
                                <div class="mt-2 p-2 border-bottom position-relative">
                                <div class="align-top pull-left">
                                    <i class="material-icons align-middle">school</i>
                                </div>
                                <div class="d-inline-block text-lower ml-5 w-90">
                                    <div><%- user_info.medical_degree.map(d=>{return d.name}).join(', ') %></div>
                                    <div class="text-muted small">Medical Degree</div>
                                </div>
                                <div class="push-right pointer p-1 edit-item-button" edititem="medical_degree">
                                    <i class="material-icons align-middle small-icon">edit</i>
                                </div>
                            </div>
                            <% } %>

                            <% if("medical_registration_number" in user_info && user_info.medical_registration_number.length>0) {%>
                                <div class="mt-2 p-2 border-bottom position-relative">
                                <div class="align-top pull-left">
                                    <i class="material-icons align-middle">contacts</i>
                                </div>
                                <div class="d-inline-block text-lower ml-5">
                                    <div><%= user_info.medical_registration_number %></div>
                                    <div class="text-muted small">Medical Registration/License Number</div>
                                </div>
                                <div class="push-right pointer p-1" edititem="medical_registration_number">
                                    <i class="material-icons align-middle small-icon">edit</i>
                                </div>
                            </div>
                            <% } %>
                            
                            <% if("medical_registration_council" in user_info && user_info.medical_registration_council.length>0) {%>
                                <div class="mt-2 p-2 border-bottom position-relative">
                                <div class="align-top pull-left">
                                    <i class="material-icons align-middle">business</i>
                                </div>
                                <div class="d-inline-block text-lower ml-5 w-90">
                                    <div><%- user_info.medical_registration_council.map(m=>{ return m.name; }).join(', ') %></div>
                                    <div class="text-muted small">Medical council</div>
                                </div>
                                <div class="push-right pointer p-1" edititem="medical_registration_council">
                                    <i class="material-icons align-middle small-icon">edit</i>
                                </div>
                            </div>
                            <% } %>

                        </div>

                    </div>

                </div>

                <!-- row1 / col 2 -->
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 mb-3">
                        
                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="tile white-tile mb-2 p-3">
                                <h4>Practices</h4>
                                <div class="pb-2">
                                    <div class="d-inline-block mr-2 align-top" style="width:70%">
                                        <p class="text-muted"> Manage your practice address, availability and other
                                            information. Keep your practice information up to date and improve the inflow of
                                            patients.
                                        </p>
                                    </div>
                                    <div class="float-right" style="width:100px">
                                        <img src="/gfs/images/facilities-icons/hospital.png" style="width:100px;">
                                    </div>
                                </div>
                                <a href="/practices">
                                    <div class="pointer text-left">
                                        <div class="btn btn-primary"><label class="m-0 pointer">manage your practice(s)</label></div>
                                    </div>
                                </a>
                                
                            </div>
                        </div>

                        <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="tile white-tile mb-2 p-3">
                                <h4>Subscription</h4>
                                <div class="pb-2">
                                    <div class="d-inline-block mr-2 align-top" style="width:70%">
                                        <p class="text-muted">
                                            Subscribe and improve your practice by choosing amazing suite of
                                            applications designed for healthcare providers by healthcare providers
                                        </p>
                                    </div>
                                    <div class="float-right" style="width:100px">
                                        <img src="/gfs/images/core/apps.png" style="width:100px">
                                    </div>  
                                </div>
                                <a href="/subscriptions">
                                    <div class="pointer text-left">
                                        <div class="btn btn-primary"><label class="m-0 pointer">manage subscriptions</label>
                                        </div>
                                    </div>
                                </a> 
                                
                            </div>
                        </div>-->

                    </div>

                </div>

            </div>

        </div>


        <div class="pg-section container-fluid mt-3 d-none" id="editform-container">

        </div>

    </div>


    <link rel="stylesheet" type="text/css" href="/src/css/summary.css">
    <script type="module" src="/src/js/healthcare-provider-summary.js"></script>

</body>

</html>