<div id="edit-personal-primary-number">
    <h3 class="mt-2">
        <div class="pointer d-inline-block mr-2 btn-rounded align-middle bg-default cancel-go-back" 
            style=" line-height: 42px;width: 40px;height: 40px;">
            <i class="material-icons align-middle text-white">keyboard_arrow_left</i>
        </div>
        <span>Address</span>
    </h3>
    
    <div class="tile white-tile rounded mt-2">
        <div class="form-group mt-2">
            <input type="text" name="personal_address_street_address_1"
             id="personal-address-street-address-1" 
            class="form-control mt-2 entry-field" 
            placeholder="Street Address line #1" value="<%=user_info.personal_address_street_address_1%>">

        <input type="text" name="personal_address_street_address_2"
            id="personal-address-street-address-2" 
            class="form-control mt-2 entry-field" 
            placeholder="Street Address line #2" value="<%=user_info.personal_address_street_address_2%>">
        
        <div class="row mt-2">
            <div class="col">
                <input type="text" name="personal_address_city" 
                    id="personal-address-city" 
                    class="form-control entry-field" 
                    placeholder="City" value="<%=user_info.personal_address_city%>">
            </div>
            <div class="col">
                <input type="text" name="personal_address_zip_code" 
                    id="personal-address-zip-code" 
                    class="form-control entry-field" 
                    placeholder="Zip/Postal code"  value="<%=user_info.personal_address_zip_code%>">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <input type="text" name="personal_address_state" 
                    id="personal-address-state" 
                    class="form-control entry-field" 
                    placeholder="State"  value="<%=user_info.personal_address_state%>">
            </div>
            <div class="col">
                <select name="personal_address_country" 
                    id="personal-address-country" 
                    class="form-control country-name-option-list entry-field">
                    <option value=""></option>
                    <% countries.forEach(c=>{ %>
                        <option value="<%=c._id%>"><%=c.name%></option>
                    <% }) %>
                </select>
            </div>
        </div>
        </div>
        <div class="mt-2 text-right">
            <div class="btn btn-primary pointer">
                <label class="m-0 pointer">Done</label>
            </div>
        </div>
        
    </div>
    <script>
        //set dial code for the phone number 
        $('#edit-personal-primary-number select[name="personal_address_country"]')
            .val('<%=user_info.personal_address_country._id%>');
    </script>
</div>

