<div id="edit-personal-address" class="form" userid="<%=user_info._id%>">
    <h3 class="mt-2">
        <div class="pointer d-inline-block mr-2 btn-rounded align-middle bg-default cancel-go-back" 
            style=" line-height: 42px;width: 40px;height: 40px;">
            <i class="material-icons align-middle text-white">keyboard_arrow_left</i>
        </div>
        <span>Address</span>
    </h3>
    
    <div class="tile white-tile rounded mt-2">
        
        <div class="form-group mt-2">
            
            <input type="text" name="personal_address_street_address_1"
                id="personal-address-street-address-1" 
                class="form-control mt-2 entry-field" 
                data-required="1" 
                placeholder="Street Address line #1" 
                value="<%=user_info.personal_address_street_address_1%>">

        <input type="text" name="personal_address_street_address_2"
            id="personal-address-street-address-2" 
            class="form-control mt-2 entry-field" 
            placeholder="Street Address line #2" 
            value="<%=user_info.personal_address_street_address_2%>">
        
        <div class="row mt-2">
            <div class="col">
                <input type="text" name="personal_address_city" 
                    id="personal-address-city" 
                    class="form-control entry-field" 
                    data-required="1" 
                    placeholder="City" 
                    value="<%=user_info.personal_address_city%>">
            </div>
            <div class="col">
                <input type="text" name="personal_address_zip_code" 
                    id="personal-address-zip-code" 
                    class="form-control entry-field" 
                    placeholder="Zip/Postal code" 
                    data-required="1"  
                    value="<%=user_info.personal_address_zip_code%>">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <input type="text" name="personal_address_state" 
                    id="personal-address-state" 
                    class="form-control entry-field" 
                    data-required="1" 
                    placeholder="State" 
                    value="<%=user_info.personal_address_state%>">
            </div>
            <div class="col">
                <select name="personal_address_country" 
                    id="personal-address-country" 
                    class="form-control country-name-option-list entry-field" 
                    data-required="1" placeholder="country">
                    <option value=""></option>
                    <% countries.forEach(c=>{ %>
                        <option value="<%=c._id%>"><%=c.name%></option>
                    <% }) %>
                    
                </select>
            </div>
        </div>
        </div>
        <div class="mt-2 text-right">
            <div class="btn btn-primary pointer done-button">
                <label class="m-0 pointer">Done</label>
            </div>
            <div class="btn btn-link ml-3 cancel-go-back">
                <label class="m-0 pointer">Cancel</label>
            </div>
        </div>
        
    </div>
    <script type="module">

        let form=$('#edit-personal-address');

        //set dial code for the phone number
        $(form).find('select[name="personal_address_country"]')
            .val('<%=user_info.personal_address_country%>');

        import {formjs} from '/efs/utilities/lib/js/form.js';

        let _formjs=new formjs();
        let userInfo={};

        $(form).find('.done-button').click(async function(){
            popup.onScreen("Updating");
            try {

                //-- validate form --
                let errCount=_formjs.validateForm($(form),'entry-field');
                
                if(errCount>0) throw "validation error";

                //-- save the information
                let formData={};

                $(form).find('.entry-field').each(function(){
                    formData=Object.assign(formData,_formjs.getFieldData(this));
                });

                //save this information in the db
                let data = _formjs.convertJsonToFormdataObject(formData);
                data.append("_id",$(form).attr('userid'));

                let updateInfo=$.ajax({
                    "url": '/account/api/user/update',
                    "processData": false,
                    "contentType": false,
                    "data": data,
                    "method": "POST"
                });

                window.location.reload();
                
            } catch (error) {
                popup.remove();
                console.error(error);
            }

        });

    </script>
</div>

